div {
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 0;
}

@media (max-width: 600px) {
    .pagination {
        font-size: 0.85em;
        text-align: center;
    }
}