<form stopValidation [formGroup]="form">

<!-- COUNTRY -------------------------------------------------------------->
<div>
    <select formControlName="country" (change)="changeCountry()" class="form-control" id="country">
        <option *ngFor="let item of countries" [value]="item.id">{{ item.nameeng }}
            <span *ngIf="item.nameeng != item.name">({{ item.name }})</span>
        </option>
    </select>
</div>

<div *ngIf="loading">
    <spinner spinnerSize=1></spinner>
</div>

<!-- REGION -------------------------------------------------------------->
<div *ngIf="!loading && currentCountry?.regions">
    <select formControlName="region" class="form-control" (change)="addressChange()" id="region">
        <option *ngFor="let item of currentCountry.regions" [value]="item.id">{{ item.name }}
            <span *ngIf="item.nameeng">({{ item.nameeng }})</span>
        </option>
    </select>
</div>

<!-- LOCALITY -------------------------------------------------------------->

<div *ngIf="!loading && activeFields.locality">
    <input type="text" formControlName="locality" placeholder="Locality / City" (change)="addressChange()" class="form-control">
    <div *ngIf="form.controls.locality.touched && form.controls.locality.errors" class="alert alert-danger" [innerHTML]="form.controls.locality.errors.errorMsg"></div>
</div>

<!-- POSTAL CODE -------------------------------------------------------------->

<div *ngIf="!loading && activeFields.postalcode">
    <input type="text" formControlName="postalcode" placeholder="Postal code" (change)="addressChange()" class="form-control">
    <div *ngIf="form.controls.postalcode.touched && form.controls.postalcode.errors" class="alert alert-danger" [innerHTML]="form.controls.postalcode.errors.errorMsg"></div>
</div>

<!-- ADDRESS LINES -------------------------------------------------------------->

<div *ngIf="!loading && activeFields.address1">
    <input type="text" formControlName="address1" placeholder="Address line 1" (change)="addressChange()" class="form-control">
    <div *ngIf="form.controls.address1.touched && form.controls.address1.errors" class="alert alert-danger" [innerHTML]="form.controls.address1.errors.errorMsg"></div>
</div>
<div *ngIf="!loading && activeFields.address2">
    <input type="text" formControlName="address2" placeholder="Address line 2" (change)="addressChange()" class="form-control">
    <div *ngIf="form.controls.address2.touched && form.controls.address2.errors" class="alert alert-danger" [innerHTML]="form.controls.address2.errors.errorMsg"></div>
</div>
<div *ngIf="!loading && activeFields.address3">
    <input type="text" formControlName="address3" placeholder="Address line 3" (change)="addressChange()" class="form-control">
    <div *ngIf="form.controls.address3.touched && form.controls.address3.errors" class="alert alert-danger" [innerHTML]="form.controls.address3.errors.errorMsg"></div>
</div>

<!-- SUITE/APT -------------------------------------------------------------->

<div *ngIf="!loading">
    <input type="text" formControlName="apartment" placeholder="Suite / Apartment / etc." (change)="addressChange()" class="form-control">
</div>

</form>