<confirmbox [data]="confirmBoxData" (response)="_router.navigate(['login']);"></confirmbox>
<div class="container">

    <form class="form-horizontal" stopValidation [formGroup]="form">
        <h1>Reset password</h1>

        <div class="card">
            <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label for="resetcode">Reset code</label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <input type="text" readonly formControlName="resetcode" class="form-control">
                            <div *ngIf="form.controls.resetcode.touched && form.controls.resetcode.errors" class="alert alert-danger">{{ form.controls.resetcode.errors.errorMsg }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <label for="password">New password (twice)</label>
                        </div>

                        <div class="col-lg-5">
                            <input type="password" formControlName="password_1" class="form-control">
                        </div>
                        <div class="col-lg-5">
                            <input type="password" formControlName="password_2" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12"></div>
                        <div class="col-lg-10 col-sm-12">
                            <div *ngIf="form.controls.password_1.dirty && form.controls.password_1.touched && 
                                    form.controls.password_2.dirty && form.controls.password_2.touched && 
                                    form.hasError('password')" class="alert alert-danger" [innerHTML]="form.errors.passwordErrorMessage"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12"></div>
                        <div class="col-lg-10 col-sm-12">
                            <div class="alert" (click)="serverResponse = null" *ngIf="serverResponse && serverResponse.message != ''" [class.alert-success]="serverResponse && serverResponse.result == 'success'"
                                [class.alert-danger]="serverResponse && serverResponse.result == 'error'">{{ serverResponse.message }}</div>
                            <button [disabled]="!form.dirty || !form.valid" class="btn btn-primary" (click)="submitForm()">Send</button>
                            <button routerLink="/login" class="btn btn-default">Cancel</button>
                            <spinner *ngIf="loading"></spinner>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>