<ng-template #mailer>

    <form class="form-horizontal" stopValidation [formGroup]="form">

    <div class="confirm-box-parent">
        <div class="confirm-box" style="text-align: left;">

            
            <div class="panel panel-default">
                <div class="panel-body">
                
                    <div class="form-group">
                        <label for="to" class="col-sm-2 control-label">To</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="to" class="form-control">
                            <div *ngIf="form.controls.to.touched && form.controls.to.errors" class="alert alert-danger">{{ form.controls.to.errors.errorMsg }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cc" class="col-sm-2 control-label">Cc</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="cc" class="form-control">
                            <div *ngIf="form.controls.cc.touched && form.controls.cc.errors" class="alert alert-danger">{{ form.controls.cc.errors.errorMsg }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bcc" class="col-sm-2 control-label">Bcc</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="bcc" class="form-control">
                            <div *ngIf="form.controls.bcc.touched && form.controls.bcc.errors" class="alert alert-danger">{{ form.controls.bcc.errors.errorMsg }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" formControlName="subject" class="form-control">
                            <div *ngIf="form.controls.subject.touched && form.controls.subject.errors" class="alert alert-danger">{{ form.controls.subject.errors.errorMsg }}</div>
                        </div>
                    </div>
                
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body" style="text-align: left;">
                    <richtext formControlName="body" [elementId]="bodyEditor"></richtext>
                </div>
            </div>
            
            <div class="alert" *ngIf="serverResponse && serverResponse.message != ''"
                            [class.alert-success]="serverResponse && serverResponse.result == 'success'" 
                            [class.alert-danger]="serverResponse && serverResponse.result == 'error'"
                            >{{ serverResponse.message }}</div>
            
            <div class="button-bar">

                <button [disabled]="!form.dirty || !form.valid" class="btn btn-primary">Send</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    
    </form>
    
    <div class="darken" (click)="setValue(null)"></div>
</ng-template>