.msgpanel {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 1em;
}

.sidebar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #DDDDDD;
}

.msgbar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.buttonbar {
    margin-bottom: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttonbar-small {
    font-size: 0.8em;
}

.msgcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    .msgpanel {
        font-size: 0.85em;
    }
}
