<confirmbox *ngIf="confirmBoxData?.show" [data]="confirmBoxData" (response)="confirmBoxHandler($event)"></confirmbox>

<div class="container">
    <h1>Predefined reply messages</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <button [disabled]="loading" routerLink="/autoreplies-edit/0" class="btn btn-primary">Add new message</button>
        </div>
    </div>

    <spinner *ngIf="loading"></spinner>
    <div class="alert alert-danger" (click)="this.data.result = 'pending'" *ngIf="!loading && data?.result == 'error'">{{ data?.message }}</div>

    <!-- ------------------------------------------------------------------------------------------------------>

    <table class="table">
           <thead>
            <tr>
                <th class="tablecol-600">Description</th>
                <th>Subject</th>
                <th class="tablecol-600">Token</th>
                <th class="tablecol-600" class="center">Priority</th>
                <th class="tableglyph"></th>
                <th class="tableglyph"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of data?.data, let rowIndex = index">
                <td class="tablecol-600">{{ data?.description }}</td>
                <td>{{ data?.subject }}</td>
                <td class="tablecol-600">{{ data?.token }}</td>
                <td class="tablecol-600" class="center">{{ data?.priority }}</td>
                <td class="tableglyph"><a [routerLink]="'/autoreplies_edit/'+data?._id" class="fa fa-edit"></a></td>
                <td class="tableglyph"><a (click)="delete(data?._id, rowIndex);" class="fa fa-remove"></a></td>
            </tr>
        </tbody>
    </table>
</div>