<confirmbox *ngIf="confirmBoxData?.show" [data]="confirmBoxData" (response)="confirmBoxHandler($event)"></confirmbox>

<div class="container">
    <h1>Setting groups</h1>
    <div class="card table-control">
        <div class="card-body">
            <button [disabled]="loading" routerLink="/settinggroups_edit/0" class="btn btn-primary">Add new group</button>
            <button [disabled]="loading" routerLink="/settings" class="btn btn-default">Settings</button>
            <spinner *ngIf="loading"></spinner>
        </div>
    </div>

    <div class="alert alert-danger" (click)="this.data.result = 'pending'" *ngIf="!loading && data?.result == 'error'">{{ data?.message }}</div>

    <!-- ------------------------------------------------------------------------------------------------------>

    <table class="table">
        <thead>
            <tr>
                <th>Group name</th>
                <th>Priority</th>
                <th class="tableglyph"></th>
                <th class="tableglyph"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of data?.data, let rowIndex = index">
                <td>{{ data?.name }}</td>
                <td>{{ data?.priority }}</td>
                <td class="tableglyph">
                    <a [routerLink]="'/settinggroups_edit/'+data?._id" class="fa fa-edit"></a>
                </td>
                <td class="tableglyph">
                    <a (click)="delete(data?._id, rowIndex);" class="fa fa-remove"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>