@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "assets/css/sticky-footer-navbar.css";
@import "assets/css/font-awesome.min.css";

$background: #FFFFFF;
$black: #000000;
$blue: #0000FF;
$lightgrey: #F5F5F5;
$formgrey: #D1D1D1;
$formborder: #DDDDDD;

body {
    overflow-x: hidden;
    background-color: $background;
    background-image: url(assets/img/grid.png);
    background-repeat: repeat-x;
    background-position: 0 0px;    
}

#bootscreen {
    background-color: $black;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#bootscreen img {
    width: 100%;
    height: auto;    
}

nav {
    user-select: none;
}

a, a:visited {
    cursor: pointer;
    color: $black;
}

a:hover {
    decoration: underline;
    color: $blue;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1em;
    margin-top: 1em;
}

button:not(:last-of-type) {
    margin-right: .5em;
}

.center {
    text-align: center;
}

.glyphicon {
    cursor: pointer;
    opacity: .6;
}

.glyphicon:hover {
    opacity: 1;
    text-decoration: none;
}

.iconbtn {
    width: auto;
    height: auto;
    max-width: 3.5em;
    max-height: 3.5em;
    min-width: 3em;
    min-height: 3em;
}

.iconbtn-text {
    width: auto;
    height: auto;
    max-height: 3.5em;
    min-width: 3em;
    min-height: 3em;    
}

.alert-small {
    padding: 0.5em;
    vertical-align: middle;
}

.noselect {
    user-select: none;
}

.paginator-holder {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Table settings ------------------------------------------------------------------- */

.table {
    margin-top: 1em;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

thead {
    border: none !important;
}

th {
    padding-bottom: 1em;
    background-color: $lightgrey;
    border: none !important;
}

.tableglyph {
    text-align: center;
    cursor: pointer;
    width: auto;
    min-width: 1em;
    max-width: 1.5em !important;
    text-decoration: none;
}

.tableglyph a {
    margin: 0;
    padding: 0;
}

.tableglyph:hover {
    text-decoration: none;
    background-color: $lightgrey;
}

td:not(.tableglyph) {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    width: auto;
    min-width: 1em;
    max-width: calc(100% - 2em);
    margin-left: 0;
    padding-left: 0.5em;
}

table > tr:first-child > td {
    border-top: 0 !important;
}

.table-control {
    margin-bottom: 1em;
}

.thead-group {
    background-color: $background;
}

/*  Form settings ------------------------------------------------------------------- */

textarea {
    resize: none;
}

label {
    user-select: none;
    cursor: pointer;
}

::placeholder {
    color: $formgrey !important;
    opacity: 1;
}

.inline-form > div {
    margin-bottom: 0.5em;
}

.card {
    margin-bottom: 1em;
}

form > .card {
    background-color: $lightgrey;
    border: none;
}

.form-group > div > .alert {
    margin-top: 1em;
}

.form-group > label {
    margin-top: 0.3em;
}

.card-body > .no-bottom-margin {
    margin-bottom: 0px;
}

.card-body > .form-group:last-child {
    margin-bottom: 0px;
}

.datalist li {
    font-size: 0.85em;
    padding-left: 0;
    margin-left: 0;
    line-height: 2em;
}

input[type=checkbox] {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: center;
    background-color: $background;
    border: 1px solid $formborder;
    border-radius: 3px;
    color: $black;
}

/*  Tabbed cards ------------------------------------------------------------------- */

.card-tabbed {
    border: none;
    background-color: $lightgrey;
    border-top-left-radius: 0;
}

.container .nav-tabs,
.container .nav-link,
.container .nav-item {
    border: none;
    margin-bottom: 0px;
}

.container .nav-tabs > .nav-item > .active {
    background-color: $lightgrey;
}

/*  Mobile stuff ------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    table {
        font-size: 0.8em;
    }

    td, th {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .tableglyph {
        font-size: 1em;
    }

    .tablecol-600 {
        display: none;
    }
}