.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

table {
    text-align: left;
    max-width: 80%;
    width: 80%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

td {
    padding: 0.5em;
    vertical-align: top;
}

tr td:nth-of-type(1) {
    font-weight: bold;
    text-align: right;
    margin-right: 1em;
    max-width: 30%;
}

tr td:nth-of-type(2) {
    font-weight: normal;
    text-align: left;
    max-width: 70%;
}
