<div class="container">

    <form class="form-horizontal" stopValidation [formGroup]="form">
    <input type="hidden" formControlName="_id">

          <h1>{{ formTitle }}</h1>

        <div class="card">
            <div class="card-body">
                
                <div class="form-group row">
                    <label for="group" class="col-sm-2 control-label">Setting group</label>
                    <div class="col-sm-10">
                        <select formControlName="group" class="form-control" id="description">
                            <option *ngFor="let data of settingGroups" [value]="data?._id">{{ data?.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" (keyup)="setToken()" id="description" formControlName="description" class="form-control">
                        <div *ngIf="form.controls.description.touched && form.controls.description.errors" class="alert alert-danger">{{ form.controls.description.errors.errorMsg }}</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="token" class="col-sm-2 control-label">Token</label>
                    <div class="col-sm-10">
                        <input type="text" id="token" formControlName="token" class="form-control">
                        <div *ngIf="form.controls.token.touched && form.controls.token.errors" class="alert alert-danger">{{ form.controls.token.errors.errorMsg }}</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="value" class="col-sm-2 control-label">Value</label>
                    <div class="col-sm-10">
                        <input type="text" id="value" formControlName="value" class="form-control">
                        <div *ngIf="form.controls.value.touched && form.controls.value.errors" class="alert alert-danger">{{ form.controls.value.errors.errorMsg }}</div>
                    </div>
                </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <div class="alert" *ngIf="serverResponse && serverResponse.message != ''"
                         [class.alert-success]="serverResponse && serverResponse.result == 'success'" 
                         [class.alert-danger]="serverResponse && serverResponse.result == 'error'"
                         >{{ serverResponse.message }}</div>
                    
                    <button [disabled]="!form.dirty || !form.valid" class="btn btn-primary" (click)="submitForm()">Submit</button>
                    <button class="btn btn-default" routerLink="/settings">Cancel</button>
                    
                    <spinner *ngIf="loading"></spinner>
                    
                </div>
            </div>

        </div>
    </div>

</form>

</div>